* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

#screen {
    height: 100%;
    width: 100%;
    background-color: rgb(183, 239, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    height: 72%;
    width: 70%;
    background-color: rgb(30, 74, 37);
    border-radius: 15px;
    box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contact-form {
    width: 100%;
    color: white;
}

label {
    margin-top: 10px;
    display: block;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

#button {
    margin-top: 15px;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(39, 38, 38, 0.3);
    cursor: pointer;
    background-color: rgb(50, 100, 50);
    color: white;
    font-size: 16px;
}